<div class="row" style="background-image: url(../../../../assets/img/contact2.jpg); background-size: cover; height:100%" >
  <div class="mask flex-center rgba-black-strong" style="color:white;width: 100%; font-family: ModernSans">

  <div class="container"  >

  <section class="pb-5"  style="margin-top:100px">

    <!--Section heading-->
    <h2 class="h1 pt-4">Dejanos un mensaje</h2>
    <!--Section description-->
    <p class="pb-4">Quieres más información o necesitas un servicio en especial,
      mándanos un mensaje y nos pondremos en contacto contigo inmediatamente</p>

    <div class="row">

      <!--Grid column-->
      <div class="col-lg-5 my-4">

        <!--Form with header-->
        <mdb-card>

          <mdb-card-header class="sunny-morning-gradient white-text text-center py-4">
            <h5>
              <strong>Contactanos</strong>
            </h5>
          </mdb-card-header>

          <mdb-card-body class="px-lg-5 pt-0">

            <form class="text-center" style="color: #757575;" [formGroup]="contactoForm" (ngSubmit)="enviarRespuesta()">

              <div class="md-form mt-3">
                <input type="text" formControlName="nombre" id="contactForName" class="form-control"
                       mdbInputDirective>
                <label for="contactForName">Nombre</label>
              </div>

              <div class="md-form">
                <input type="email" formControlName="email" id="contactForEmail" class="form-control"
                       mdbInputDirective>
                <label for="contactForEmail">Email</label>
              </div>

              <div class="md-form">
                <input type="email" formControlName="telefono" id="contactForPhone" class="form-control"
                       mdbInputDirective>
                <label for="contactForPhone">Telefono</label>
              </div>

              <div class="md-form">
        <textarea type="text" formControlName="mensaje" id="materialContactFormMessage" class="form-control md-textarea"
                  mdbInputDirective></textarea>
                <label for="materialContactFormMessage">Mensaje</label>
              </div>

              <!--<div class="row">-->
                <!--<div class="col-md-6 mx-auto d-flex justify-content-center">-->
                  <!--<mdb-checkbox formControlName="contactFormCopy">Quiero suscribirme al </mdb-checkbox>-->
                <!--</div>-->
              <!--</div>-->

              <button mdbBtn  outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect warning-color"
                      mdbWavesEffect type="submit" [disabled]="!contactoForm.valid">Enviar</button>

            </form>

          </mdb-card-body>

        </mdb-card>
        <!--Form with header-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 mt-4">

        <!--Google map-->
        <agm-map class="z-depth-1-half map-container" style="height: 400px;" [latitude]="map.lat" [longitude]="map.lng">
          <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
        </agm-map>

        <br>
        <!--Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
              <i class="fa fa-map-marker"></i>
            <p>San Francisco, CA 94126</p>
            <p>United States</p>
          </div>

          <div class="col-md-4">

              <i class="fa fa-phone"></i>

            <p>+ 01 234 567 89</p>
            <p>Mon - Fri, 8:00-22:00</p>
          </div>

          <div class="col-md-4">

              <i class="fa   fa-envelope" size="lg"></i>

            <p>info@gmail.com</p>
            <p>sale@gmail.com</p>
          </div>
        </div>

      </div>
      <!--Grid column-->

    </div>

  </section>
  <!--Section: Contact v.1-->


</div>

  </div>
</div>
