
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo scrolling-navbar fixed-top">

  <mdb-navbar-brand class="mt-2">
    <a class="navbar-brand" style="color:white; margin-top: -13px">
      <img src="../../../assets/icon/hotel.svg" height="50" class="d-inline-block " alt="">
      <a class="ml-3 mr-5"  style="list-style: none; display: inline; font-size: 20px; margin-top: 30px !important;">Hotel Cancún</a>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav " style="font-size: 18px">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link waves-light"  [routerLink]="['inicio']"  mdbWavesEffect>Inicio</a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="['nosotros']"  mdbWavesEffect>Nosotros</a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="['reservacion']"  mdbWavesEffect>Reservar</a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="['servicios']"  mdbWavesEffect>Servicios</a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link waves-light"  [routerLink]="['contacto']" mdbWavesEffect>Contacto</a>
      </li>




    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item " *ngIf="!isValidToken()">
        <button mdbBtn type="button"  rounded="true" class="waves-light white orange-text" (click)="login.show()" mdbWavesEffect>Ingresa</button>
      </li>

      <li class="nav-item mt-3 mr-4" *ngIf="isValidToken()">
        <a style="color:white; font-family: 'Open Sans'">Hola {{usuario.nombre}}</a>
      </li>


      <li  class="nav-item avatar mt-2"  *ngIf="isValidToken()">

        <div class="dropdown" mdbDropdown>
          <a mdbDropdownToggle class=" dropdown-toggle waves-effect waves-light"><img style="height: 45px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </a>

          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Reservaciones</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" href="#">Salir</a>
          </div>
        </div>


      </li>




    </ul>
  </links>

</mdb-navbar>






<router-outlet style="overflow-x:hidden" ></router-outlet>

  <footer class="page-footer font-small sunny-morning-gradient pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Registrate ahora</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Inicia Sesión</a>
      </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" mdbWavesEffect>
          <mdb-icon icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" mdbWavesEffect>
          <mdb-icon icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1" mdbWavesEffect>
          <mdb-icon icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" mdbWavesEffect>
          <mdb-icon icon="linkedin"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1" mdbWavesEffect>
          <mdb-icon icon="dribbble"></mdb-icon>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a >Hotel Cancún SA. </a>
    </div>
    <!-- Copyright -->

  </footer>



  <!-- Modal para iniciar sesión y registrarse
       Variable ligada #login
  -->
  <div mdbModal #login="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Modal cascading tabs-->
        <div class="modal-c-tabs">
          <!-- Tab panels -->
          <mdb-tabset #staticTabs [buttonClass]="'nav md-tabs tabs-2 light-blue darken-3'" [contentClass]="''" class="tab-content">
            <!--Panel 7-->
            <mdb-tab class="tab-pane fade in show active" id="panel7" role="tabpanel" heading="<i class='fa fa-user mr-1'></i> Login">
              <!--Body-->
              <div class="modal-body mb-1">
                <form [formGroup]="login_form" (ngSubmit)="setLogin()">
                  <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input formControlName="email" formControlName="email" mdbInputDirective type="text" id="form22" class="form-control" >
                    <label for="form22">Email</label>
                  </div>

                  <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input formControlName="password" mdbInputDirective type="password" id="form23" class="form-control" >
                    <label for="form23">Contraseña</label>
                  </div>
                  <div class="text-center mt-2">
                    <input mdbBtn type="submit" color="info" class="waves-light" mdbWavesEffect value="Iniciar Sesión">
                  </div>
                </form>
              </div>
              <!--Footer-->
              <div class="modal-footer display-footer">
                <div class="options text-center text-md-right mt-1">
                  <p>Olvidaste tu
                    <a href="#" class="blue-text">email</a>
                  </p>
                </div>
                <button type="button" mdbBtn color="info" outline="true" class="ml-auto" data-dismiss="modal" (click)="login.hide()" mdbWavesEffect>Close</button>
              </div>
            </mdb-tab>
            <!--/.Panel 7-->
            <!--Panel 8-->
            <mdb-tab class="tab-pane fade" id="panel8" role="tabpanel" heading="<i class='fa fa-user-plus mr-1'></i> Register">
              <!--Body-->
              <div class="modal-body">
                <form [formGroup]="signup_form" (ngSubmit)="setSignup()">
                  <div class="md-form form-sm">
                    <i class="fa fa-user prefix"></i>
                    <input formControlName="nombre" mdbInputDirective type="text" id="form30" class="form-control" >
                    <label for="form30">Nombre</label>
                  </div>
                  <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input formControlName="email" mdbInputDirective type="text" id="form24" class="form-control" >
                    <label for="form24">Email</label>
                  </div>
                  <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input formControlName="password" mdbInputDirective type="password" id="form25" class="form-control" >
                    <label for="form25">Password</label>
                  </div>
                  <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input formControlName="confirm_password" mdbInputDirective type="password" id="form26" class="form-control" >
                    <label for="form26">Confirma tu Contraseña</label>
                  </div>
                  <div class="text-center form-sm mt-2">
                    <input type="submit" value="Registrar" mdbBtn color="info" class="waves-light" mdbWavesEffect>
                  </div>
                </form>
              </div>
              <!--Footer-->
              <div class="modal-footer">
                <button type="button" mdbBtn color="info" outline="true" class="ml-auto" data-dismiss="modal" (click)="login.hide()" mdbWavesEffect>Close</button>
              </div>
            </mdb-tab>
            <!--/.Panel 8-->
          </mdb-tabset>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>



  <div mdbModal #succes="mdbModal" class="modal fade" id="frameModalSecond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
      <!--Content-->
      <div class="modal-content text-center">
        <!--Header-->
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">¡Gracias por tu registro!</p>
        </div>

        <!--Body-->
        <div class="modal-body">
          <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
          <p>Ahora puedes hacer recervaciones</p>
        </div>

        <!--Footer-->
        <div class="modal-footer flex-center">
          <button  mdbBtn color="success" class="waves-light" mdbWavesEffect>Aceptar</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>


  <div mdbModal #danger="mdbModal" class="modal fade" id="frameModalThird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
      <!--Content-->
      <div class="modal-content text-center">
        <!--Header-->
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">¡Upsss!</p>
        </div>

        <!--Body-->
        <div class="modal-body">
          <i class="fa fa-times fa-4x animated rotateIn mb-4"></i>
          <p>No hemos podido procesa tu registro, itenta más tarde o asegurate que estas conectado a internet</p>
        </div>

        <!--Footer-->
        <div class="modal-footer flex-center">
          <button  mdbBtn color="danger" class="waves-light" mdbWavesEffect>Aceptar</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>



<div mdbModal #success_login="mdbModal" class="modal fade" id="frameModalthird" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¡Bienvenido!</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-check fa-4x animated rotateIn mb-4"></i>
        <p>¡Comienza a reservar!</p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <button  mdbBtn color="info" class="waves-light" mdbWavesEffect>Aceptar</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>






